text-data-files/logfile.txt
a.out
a.exe
app
c-graphics/gtk/example-0
c-graphics/gtk/example-1
c-graphics/gtk/gtk-hello-world
coasttransc/
nbproject/
Kito_Joseph_resume_elster_ctg.docx
Kito_Joseph-resume_old.doc
kitojosephresume-TOP-New-1.docx
kitojosephresume-TOP-New-1-old-5-3-2022.docx
kitojosephresume-TOP-New-1-old.docx
kitojosephresume.txt
