text-data-files/logfile.txt
a.out
app
c-graphics/gtk/example-0
c-graphics/gtk/example-1
c-graphics/gtk/gtk-hello-world
c++/StockSelector/WIKI_PRICES_212b326a081eacca455e13140d7bb9db.csv
c++/StockSelector/WIKI_PRICES_212b326a081eacca455e13140d7bb9db.zip

