This directory will be for a code snipet that will generate a report from the coastal transaction.
The is the beging of a personal finacial accounting software that I may be developing in the future.

Requirments
-Read in all transactions
-Display top catagories (if that is include in report)
-
